<div class="about">
    <h2>About Birdr</h2>
    <p>Birdr is microblogging platform where users with a shared interest in
        birding and ornithology can share images or write blog posts about birds.</p>
</div>
