<form method="POST" action="/user/post/create">
    <input type='text' name="post[image]" value="<%= @post_default[:image] %>">
    <input type='text' name="post[text]" value="<%= @post_default[:text] %>">
    <input type='text' name="post[tag_list]" value="<%= @post_default[:tag_list] %>">
     <button type="submit">Submit Post</button>
</form>
