<form method="POST" action="/user/post/edit">
    <input type='text' name="post[image]" placeholder="image url">
     <input type='text' name="post[text]" placeholder="text">
     <input type='text' name="post[tag]" placeholder="tags">
     <button type="submit">Submit Post</button>
</form>
