<form method="POST" action="/user/profile/edit">
    <input type='text' name="profile[city]" placeholder="city">
     <input type='text' name="profile[state]" placeholder="state">
     <input type='text' name="profile[country]" placeholder="country">
     <input type='text' name="profile[about]" placeholder="About you">
     <button type="submit">Sign Up!</button>
</form>
