<h3>Have questions? Select a topic below:</h3>
<ul class="collapsible">
    <li>
      <div class="collapsible-header purple darken-4 grey-text text-lighten-4">Account</div>
      <div class="collapsible-body">
          <span>
              <ul>
                  <li>To create an account: click on the sign up link and complete the sign up form.</li>
                  <li>To edit your profile: click on edit profile link located on profile page.</li>
                  <li>To delete your account: click on edit profile link located on profile page, then click on "Delete Profile".</li>
              </ul>
          </span>
      </div>
    </li>
    <li>
      <div class="collapsible-header purple darken-4 grey-text text-lighten-4">Posts</div>
      <div class="collapsible-body">
          <span>
              <ul>
                  <li>To create a post: click on the Create Post link then submit image link, write text and add tags seperated by commas.</li>
                  <li>To edit your post: click on the post, click on link to edit post and make your changes.</li>
                  <li>To delete a post: click on the post, click on link to edit post, then click "Delete Post".</li>
              </ul>
          </span>
      </div>
    </li>
    <li>
      <div class="collapsible-header purple darken-4 grey-text text-lighten-4">Search</div>
      <div class="collapsible-body">
          <span>
              <ul>
                  <li>To search by username: select "username" from dropdown and enter name in search box.</li>
                  <li>To search by tag: select "tag" from dropdown and enter text in search box without spaces.</li>
          </span>
      </div>
    </li>
 </ul>
