<div class="recent_posts">
    <% if @recent_posts %>
        <% @recent_posts.each do |post| %>
            <div>
                <% if post.image != NULL %>
                    <img src="<%= h post.image %>">
                <% end %>
                <% if post.text != NULL %>
                    <p><%= h post.text %></p>
                <% end %>
                <% if post.tags != NULL %>
                    <p>Tags: <%= h post.tags %></p>
                <% end %>
            </div>
        <% end %>
    <% end %>
</div>
