<div class="recent_posts">
    <% if @recent_posts %>
        <% @recent_posts.each do |post| %>
            <div class="post">
                <% if post[:image] %>
                    <img src="<%= h post[:image] %>">
                <% end %>
                <% if post[:text] %>
                    <p><%= h post[:text] %></p>
                <% end %>
                <% if post[:tags] %>
                    <p>Tags: <%= h post[:tags] %></p>
                <% end %>
            </div>
        <% end %>
    <% end %>
</div>
