<div class="welcome">
    <h1> WELCOME TO BIRDR!</h1>
    <h3>We're a growing community of bird-enthusiasts. Come join the fun!</h3>
    <a href='/user/signup'>Sign Up!</a>
    <h3>Or if you're already a member:</h3>
    <a href='/user/signin'>Log In!</a>
</div>
