<div class="welcome center">
    <img src="/birdrlogo.jpeg">
    <h3>We're a growing community of bird-enthusiasts.</h3>
    <h3>Come join the fun!</h3>
    <h2><a href='/user/signup'>Sign Up!</a></h2>
    <h3>Or if you're already a member:</h3>
    <h2><a href='/user/signin'>Log In!</a></h2>
</div>
