<div class="row">
    <form method="POST" action="/search">
        <div class="input-field col s12 m4">
            <select id="search_type">
                <option value="" disabled selected>Choose your option</option>
                <option value="username">username</option>
                <option value="tag">tag</option>
            </select>
            <label>Search By</label>
            <input type="hidden" name="result_type" id="result_type" />
        </div>
        <div class="input-field col s8">
            <input name="search" type="text" required>
        </div>
        <input type="submit" style="visibility: hidden;" />
    </form>
</div>
