<form method="POST" action="/user/signin">
    <input type='text' name="user[username]" placeholder="username">
    <span>demo: singingmama</span>
    <input type='password' name="user[password]" placeholder="password">
    <span>demo:burger</span>
    <button type="submit">Log Me In!</button>
</form>
