<form method="POST" action="/user/signin">
    <input type='text' name="user[username]" placeholder="username">
    <input type='password' name="user[password]" placeholder="password">
    <button type="submit">Log Me In!</button>
</form>
